.card-auth .ant-card .ant-card-body {
    padding: 0 !important;
}
.auth-forget{
   transition: all .3s ease-in-out;
}
.auth-forget:hover{
   cursor: pointer;
   color:#FF4766;
}
.login-section-2 {
    background-color: #FF4766;
    border-radius: 0px 8px 8px 0px;
}
.login-section-2-p1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    color: #FFF;
}
.login-section-2-p2 {
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.login-section-2 button {
    background-color: wheat;
    border: none;
    transform: all .2s ease-in;
}
.login-section-2 button:hover {
    background-color: rgb(214, 184, 128) !important;
}
.signup-heading {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    color:black;
}
.signup-btn{
    padding: 19px 8px !important;
    border-radius: 5px !important;
}
.signup-btn:hover{
    color: #FFF !important;
}
.header, .sidebar{
    background: transparent !important;
}
.header{
    padding: 0px 19px !important;
}
.cursor-pointer{
    cursor:  pointer !important;
}
.ant-menu{
    background: transparent !important;
}
.logo {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
.pending-card {
    background-color: #f7f9fc; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
  }
  
  .pending-icon {
    font-size: 50px;
    color: #1890ff;
    margin-bottom: 16px; 
  }
  
  .pending-title {
    color: #1890ff; 
    margin: 10px 0;
  }
  
  .pending-paragraph {
    font-size: 16px;
    color: #555; 
    margin-bottom: 20px; 
  }
  
  .submit-button {
    font-weight: bold; 
    padding: 10px 20px; 
    border-radius: 5px; 
  }
  
  .submit-button:hover {
    background-color: #40a9ff; 
    color: white; 
  }
  
  .statusLabel {
    white-space: nowrap;
    padding: 3px 7px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 500;
    opacity: 0.7;
  }